<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    {{#if session.isAuthenticated}}
      {{#unless model.isNew}}
        <li>
          <a id="open-upload-modal" class="btn-floating" {{action 'openUploadModal'}}>
            <i class="material-icons">insert_photo</i>
          </a>
        </li>
        {{#if isInCollection}}
          <li>
            <a class="btn-floating" {{action (route-action 'removeRocketFromCollection' model)}}>
              <i class="material-icons">remove</i>
            </a>
          </li>
        {{else}}
          <a class="btn-floating" {{action (route-action 'addRocketToCollection' model)}}>
            <i class="material-icons">add</i>
          </a>
        {{/if}}
      {{/unless}}
    {{/if}}
  </ul>
</div>
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12 m6">
        {{input value=model.manufacturer}}
        <label for="">Manufacturer</label>
      </div>
      <div class="input-field col s12 m6">
        {{input value=model.name}}
        <label for="">Name</label>
      </div>
    </div>
    <div class="row">
      {{#if model.hasDirtyAttributes}}
        <button type="button" name="button" class="btn col s6 m2" {{action (route-action 'saveRocket' model)}}>Save</button>
      {{else}}
        <button type="button" name="button" class="btn disabled col s6 m2">Save</button>
      {{/if}}
      <button type="button" name="button" class="btn btn-flat col s6 m2" {{action 'cancelRocket'}}>Cancel</button>
    </div>
  </form>
</div>
{{#unless model.isNew}}
  <div class="row">
    <label>Flights</label>
    <ul class="collection">
      {{#each model.flights as |flight|}}
        <li class="collection-item">
          {{#link-to 'flights.show' flight}}
            {{format-date flight.flightDate format='LL'}}
          {{/link-to}}
          <div class="secondary-content">
            <a {{action 'removeFlightFromRocket' flight}}>Remove</a>
          </div>
        </li>
      {{/each}}
        {{#link-to 'flights.new' (query-params rocket_id=model.id) class="collection-item" tagName="li"}}
          <a>New Flight</a>
        {{/link-to}}
    </ul>
  </div>
  <div class="row">
    {{#each model.images as |image|}}
      <div class="col s12 m4">
        <img class="responsive-img" src={{image.imageUrl}}>
      </div>
    {{/each}}
  </div>
{{/unless}}
{{upload-modal rocket=model}}
