<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12 m6">
        {{input value=model.manufacturer}}
        <label for="">Manufacturer</label>
      </div>
      <div class="input-field col s12 m6">
        {{input value=model.name}}
        <label for="">Name</label>
      </div>
    </div>
    {{#if model.hasDirtyAttributes}}
      <button type="button" name="button" class="btn" {{action (route-action 'saveRocket' model)}}>Save</button>
    {{else}}
      <button type="button" name="button" class="btn disabled">Save</button>
    {{/if}}
    <button type="button" name="button" class="btn btn-flat" {{action 'cancelRocket'}}>Cancel</button>
    {{#unless model.isNew}}
      {{#if isInCollection}}
        <button type="button" name="remove-from-collection" class="btn right" {{action (route-action 'removeRocketFromCollection' model)}}>
          Remove from My Collection
        </button>
      {{else}}
        <button type="button" name="add-to-collection" class="btn right" {{action (route-action 'addRocketToCollection' model)}}>
          Add to My Collection
        </button>
      {{/if}}
    {{/unless}}
  </form>
</div>
{{#if model.isNew}}
{{else}}
  <div class="row">
    <label>Flights</label>
    <ul class="collection">
      {{#each model.flights as |flight|}}
        <li class="collection-item">
          {{#link-to 'flights.show' flight}}
            {{format-date flight.flightDate format='LL'}}
          {{/link-to}}
          <div class="secondary-content">
            <a {{action 'removeFlightFromRocket' flight}}>Remove</a>
          </div>
        </li>
      {{/each}}
        {{#link-to 'flights.new' (query-params rocket_id=model.id) class="collection-item" tagName="li"}}
          <a>New Flight</a>
        {{/link-to}}
    </ul>
  </div>
{{/if}}
